.content{
    background-image: url('https://img.freepik.com/premium-photo/close-up-paint-brush-fully-coated-yellow-blue-paint_97167-27997.jpg') ;
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    width: inherit;
    height: auto;
    padding: 20px;
    span{
        color: #efebf2;
        font-size: 0.8em;
        font-weight: 500;
    }
    p{
        font-size: 0.9em;
        color: #eeebf2;
        font-weight: 500;
    }
    h6{
        color: #eeecf1;
        font-weight: 500;
    }
}
.closeUnique{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-weight: 800;
    width: 30px;
    color: #a28fb7;
    font-size: 3rem;
}
hr{
    color: #a28fb7;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0.1px;
}
