<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 10</title>
</head>
<body>

    <h1>TO DO List</h1>
    <div id="main">
        <label for="toDo">Enter task:</label>
        <input type="text" id="task" name="toDo">
        <button id="btnAdd">Add</button>

        
        <ul id="toDoList">

        </ul>
        
    </div>
    <script src="../src/ex10.js"></script>
</body>
</html>