<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
</head>
<body>
    <form action="#">
        <label for="firstName">Enter first name:</label>
        <input type="text" name="firstName" id="firstName" placeholder="Enter first name.." required >
        <br>
        <label for="lastName">Enter last name:</label>
        <input type="text" name="lastName" id="lastName" placeholder="Enter last name.." required >
        <br>
        <label for="phone">Enter phone number:</label>
        <input type="tel" name="phone" id="phone" placeholder="123456789"  required>
            <br>
        <button style="background-color: rgba(147, 84, 84, 0.923);" id="save">Save </button>
    </form>

    <div id="table-container">

    </div>
    <script src="../src/ex9.js"></script>
</body>
</html>