<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
</head>
<body>
    <label for="who">Enter who:</label>
    <input type="text" name="who" id="who">
    <label for="what">Enter what:</label>
    <input type="text" name="what" id="what">
    <label for="when">Enter when:</label>
    <input type="text" name="when" id="when">
    <button>Create Story</button>
    <div id="story">
        
    </div>
    <script src="../src/ex8.js"></script>
</body>
</html>