<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Planets from Star Wars API</h1>

    <table id="tablePlanets" border="1">

    </table>
    <div id="buttons">
        <button id="btn01">Page 01</button>
        <button id="btn02">Page 02</button>
    </div>
    
    
    <script src="../src/exe1.js"></script>
</body>
</html>