<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
</head>
<body>
    <form action="" method="">
        <label for="firstName">Enter first name:</label>
        <input type="text" name="firstName" id="firstName" placeholder="Enter first name.." required minlength="2">
        <br>
        <label for="lastName">Enter last name:</label>
        <input type="text" name="lastName" id="lastName" placeholder="Enter last name.." required minlength="3">
        <br>
        <label for="phone">Enter phone number:</label>
        <input type="tel" name="phone" id="phone" placeholder="1234-56789" pattern="[0-9]{4}-[0-9]{5}" required>
            <br>
        <button>Save </button>
    </form>

    <div id="table-container">

    </div>
    <script src="../src/ex9.js"></script>
</body>
</html>