<div class="container">
  <div class="formContainer">
    <img src="user.png" />

    <h6>Login</h6>

    <a routerLink="/register" class="link"
      >If you don't have account, create one for free</a
    >
    <!-- <h6>{{ errorMessage() }}</h6> -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        @if (loginForm.get('email')?.hasError('email') &&
        !loginForm.get('email')?.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        } @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide() ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-flat-button type="submit">Login</button>
    </form>
  </div>
</div>
