.card{
  font-family: "Inconsolata", monospace;
  color: #71499d;
  width: 240px;
  height: 370px;
  padding: 0px;
}
.logo{
  position: fixed;
  /* right: 12px; */
  
  width: 40px;
  height: auto;
}
.test{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cardBtns{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p{
  font-weight: 600;
  margin: 0px;
}
span{
  display: flex;
  justify-content: center;
  gap: 2px;
  align-items: center;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .card {
      transition: transform 500ms ease-in;
      
  }

  .card:hover,
  .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
      box-shadow:1px 2px 4px #24093e, 0 0 25px #500f91, 0 0 5px #6B12C5;
  }

  .card:focus-within {
      transition-duration: 0ms;
  }

} 


