.content{
    /* background: rgb(0, 0, 0);  */
    background: rgba(217, 212, 212, 0.075); 
    width: inherit;
    height: auto;
    padding: 20px;
    
    p{
        font-size: 0.9em;
        font-weight: 500;
        color: #ffffff;
        text-align: justify;
    }
    h6{
        font-weight: 500;
        color: #f7f4f9;
    }
}
.closeUnique{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    font-weight: 800;
    width: 30px;
    color: #a28fb7;
    font-size: 3rem;
}
hr{
    color: #a28fb7;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0.1px;
}
