.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    
}
.navpages{
    display: flex;
}
.navItem{
    cursor:pointer;
    font-size: 1.2rem;
    padding: 3px;
    
}
.navItem a {
    text-decoration: none;
    color: whitesmoke;
}
.homeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItem:hover{
    border-radius: 10px;
    background-color: rgba(32, 32, 237, 0.53);
}
