<nav>
  <ul class="navList">
    <!-- <div class="navpages">
      
    </div> -->

    <li class="navItem">
      <a routerLink="/favorite" routerLinkActive="active" class="homeIcon"
        ><mat-icon
          aria-hidden="false"
          aria-label="heart icon"
          fontIcon="favorite"
        ></mat-icon>
      </a>
    </li>
    <li class="navItem">
      <a routerLink="/account/info" routerLinkActive="active" class="homeIcon"
        ><mat-icon
          aria-hidden="false"
          aria-label="account icon"
          fontIcon="account_circle"
        ></mat-icon>
      </a>
    </li>
  </ul>
</nav>
