<nav>
  <ul class="navList">
    <li class="navItem">
      <a routerLink="/create" routerLinkActive="active">Create car</a>
    </li>
    <li class="navItem">
      <a routerLink="/favorite" routerLinkActive="active" class="homeIcon"
        ><mat-icon
          aria-hidden="false"
          aria-label="heart icon"
          fontIcon="favorite"
        ></mat-icon>
      </a>
    </li>
    <li class="navItem">
      <a routerLink="/" routerLinkActive="active" class="homeIcon"
        ><mat-icon
          aria-hidden="false"
          aria-label=" home icon"
          fontIcon="home"
        ></mat-icon>
      </a>
    </li>
  </ul>
</nav>
