*{
    box-sizing: border-box;
}

body{
    background-color: rgba(180, 195, 81, 0.676);
}


header{
    background-color: rgb(161, 213, 196);
    text-align: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
}

.first-navbar,.first-navigation, .first-navigation-list,.second-navbar, .second-navigation, .second-navigation-list{
    display: inline-block;
}

.first-navigation-list>li{
    display: inline-block;
    margin: 10px;
}

.first-navigation-list>li>a{
    text-decoration: none;
    font-family: DM Serif Display, sans-serif;
    
}

a:link{
    color: rgb(147, 115, 200);
}
a:visited{
    color: rgb(125, 15, 28);
}

h1{
    font: 2em DM Serif Display, sans-serif italic ;
    color: rgb(82, 64, 64);
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    background-color: rgb(222, 159, 180);
}

.second-navigation-list>li{
    display: inline-block;
    margin: 10px;
    
}

.second-navigation-list>li>a{
    text-decoration: none;
    font-family: DM Serif Display, sans-serif;
    
    
}

#topic, #contact{
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    background-color: rgb(211, 222, 159);
    text-align: center;
}

summary{
    font: 1em Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: rgb(2, 77, 14);
    margin-bottom: 0px;
}

#ourHistory>p, #products>p{
    padding: 5px;
    margin: 0px 5px;
    background-color: rgb(216, 218, 202);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: dodgerblue;
    border: 3px dotted orangered;
    border-radius: 10%;
}
.slika{
    width: 350px;
    display: inline-block;
}
iframe, .youtube{
    width: 560px;
    display: inline-block;
}

h2{
    margin: 0px 5px;
    padding: 5px;
    font-family: DM Serif Display, sans-serif;
    color: rgb(202, 123, 87);
    background-color: rgba(127, 255, 212, 0.674);
    text-align: center;
}



.list, .contact-list{
    text-align: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    
}
#contact p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-list > li{
    list-style: none;
    
}

.contact-list>li>a{
    text-decoration: none;
    color: rgb(133, 209, 19);
}





table {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background-color: rgba(180, 195, 81, 0.562);
}

tr:hover{
    background-color: coral;
    text-align: center;
}

caption {
    margin: 20px 5px 0px 5px;
    padding: 10px;
    background-color: rgba(186, 125, 50, 0.623);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.social, footer, h4{
    padding: 5px;
    margin: 0px 5px;
    background-color: rgba(130, 86, 191, 0.372);
    text-align: center;
}

h4{
    color: red;
}

