*{
    box-sizing: border-box;
}

body{
    background-color: rgba(180, 195, 81, 0.676);
}


header{
    background-color: rgb(161, 213, 196);
    text-align: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
}

.first-navbar,.first-navigation, .first-navigation-list,.second-navbar, .second-navigation, .second-navigation-list{
    display: inline-block;
}

.first-navigation-list>li{
    display: inline-block;
    margin: 10px;
}

.first-navigation-list>li>a{
    text-decoration: none;
    font-family: DM Serif Display, sans-serif;
    
}

a:link{
    color: rgb(147, 115, 200);
}
a:visited{
    color: rgb(125, 15, 28);
}

h1{
    font: 2em DM Serif Display, sans-serif italic ;
    color: rgb(82, 64, 64);
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    margin: 5px;
    background-color: rgb(222, 159, 180);
}

summary{
    font: 1em Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: rgb(2, 77, 14);
    margin-bottom: 0px;
}

.second-navigation-list>li{
    display: inline-block;
    margin: 10px;
    
}

.second-navigation-list>li>a{
    text-decoration: none;
    font-family: DM Serif Display, sans-serif;
    
    
}

#maindiv, #topic, #importantMoments, #pastries, #best, footer {
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    background-color: rgb(211, 222, 159);
    text-align: center;
}


#maindiv p, #topic p, #importantMoments p, #pastries p, #best p{ 
    padding: 5px;
    margin: 0px 5px;
    background-color: rgb(216, 218, 202);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: rgb(0, 6, 12);
    border: 3px double rgba(211, 19, 115, 0.486);
    
}