<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework, exercise 1/ class 03</h1>
    <p>
        Write 4 functions. All functions take 2 parameters and output a result.
            <ul>
                <li>Function that sums 2 numbers</li>
                <li>Function that subtracts 2 numbers</li>
                <li>Function that multiplies 2 numbers</li>
                <li>Function that divides 2 numbers</li>
            </ul>            
    </p>

    <script src="../src/ex1.js"></script>
</body>
</html>