<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework, exercise 1/ class 02</h1>
    <p>
        <b>Decription:</b>Using prompt() display a dialog box that prompts the visitor for input. Will return null on 'Cancel' or the value provided on 'Ok'
    </p>
    <p>
        <b>Action:</b> Ask the user how much money he has, and depending on the value, suggest to him what he should do
    </p>    
    <script src="../src/ex1.js"></script>
</body>
</html>