<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework</h1>
    <div>
        <label for="name">Enter name:</label>
        <input type="text" name="name" id="name">
        <label for="kind">Enter kind of animal</label>
        <input type="text" name="kind" id="kind">
        <label for="message">Enter message:</label>
        <input type="text" name="message" id="message">
        <button>Submit</button>
    </div>
    <script src="../src/homeworkEx1.js"></script>
</body>
</html>