.container{
    /* margin: 20px; */
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 50px;
    /* background-color: rgba(20, 20, 20, 0.945); */
}
