<header class="header">
  <mat-toolbar class="headerContainer">
    <a routerLink="/" class="home">
      <span><img src="file.png" alt="logo" width="100px" /></span>
    </a>
    <ul class="navList">
      <li class="navItem">
        <a routerLink="/create" routerLinkActive="active" class="homeIcon"
          >Create announcement
        </a>
      </li>
      <li class="navItem">
        <a routerLink="/contact" routerLinkActive="active" class="homeIcon"
          >Contact us
        </a>
      </li>
    </ul>
    <app-navbar />
  </mat-toolbar>
</header>
