<div class="container">
  @if (userOrders().length) {
  <!-- <h6>List of your orders:</h6> -->
  <div class="tableContainer">
    <table mat-table [dataSource]="userOrders()">
      <ng-container matColumnDef="OrderID">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td
          style="cursor: pointer"
          mat-cell
          *matCellDef="let element"
          (click)="navigateItem(element.id)"
        >
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="CreatedAt">
        <th mat-header-cell *matHeaderCellDef>Made at:</th>
        <td
          style="cursor: pointer"
          mat-cell
          *matCellDef="let element"
          (click)="navigateItem(element.id)"
        >
          {{ element.createdAt | date }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="carRow"
      ></tr>
    </table>
  </div>
  } @else {
  <div style="display: flex; flex-direction: column">
    <p>You haven't made any orders.</p>
    <div>
      <button mat-flat-button (click)="seeCars()">See cars</button>
    </div>
  </div>

  } @if (this.open()== true) {
  <div class="details">
    <img
      [src]="this.orderDetails()?.car?.images?.at(0)"
      [alt]="this.orderDetails()?.id"
    />
    <p>Paid: {{ this.orderDetails()?.car?.price | currency }}</p>
  </div>
  }
</div>
