<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework</h1>

    <div id="table-container">
        <input type="number" name="row" id="row" placeholder="Enter number of rows">
        <input type="number" name="column" id="column" placeholder="Enter number of columns">
        <input type="button" value="Create" id="btn">
        

    </div>
    <script src="../src/homeworkEx1.js"></script>
</body>
</html>