<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework exercise 1</h1>
    <div>
        <label for="userId">Enter number of user ID:</label>
        <input type="number" name="userId" id="userId" min = "1" max="10">
        <button id="btn">Click to log the user</button>
    </div>   
    <script src="../src/exe1withAsync-Await.js"></script>
    <!-- <script src="../src/exe1withPromise.js"></script> -->

</body>
</html>