<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
</head>
<body>
    <h1>Homework, exercise 2/class 02 </h1>
    <p>
        Write javascript code that will get an input from the user and calculate which Chinese Zodiac a given year is in. Formula for Chinese Zodiac caluclation: (year - 4) % 12. Possible values: 
        <ul>
            <li>0 - Rat</li>
            <li>1 - Ox</li>
            <li>2 - Tiger</li>
            <li>3 - Rabbit</li>
            <li>4 - Dragon</li>
            <li>5 - Snake</li>
            <li>6 - Horse</li>
            <li>7 - Goat</li>
            <li>8 - Monkey</li>
            <li>9 - Rooster</li>
            <li>10 - Dog</li>
            <li>11 - Pig</li>
        </ul>
    </p>
    <script src="../src/ex2.js"></script>
</body>
</html>